body {
  font-family:'Press Start 2P', cursive, 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: rgb(77, 77, 77);
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 5px;
  font-size: 2rem  ;
  
}

.jumbotron {
  text-align: center;
  background-color: darkgrey;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
  background-color: white;
}

.row {
  white-space: normal;
  height: 80px;
  border-top: 1px solid black;
  
}

.hour {
  background-color: white;
  color: black;
  font-size: 1.5vw;
  letter-spacing: .25em;
  text-align: center;
  /* align-self: center; */
  display:flex;
  flex-direction:row ;
  justify-content: center;
  align-items:center;
  border: 1px solid black;
  
}

.past {
  background-color: #d3d3d3;
  color: black;
  
}

.present {
  background-color: #ff6961;
  color: black;
  
}

.future {
  background-color: #77dd77;
  color: black;
  
}
.btn {
  background-color: darkcyan;
  font-size: 2vw;
  letter-spacing: .25rem;
  border: 1px solid black;
}
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color:transparent;
  color: #07c9cf;
  padding: 10px;
  margin: 10px;
  font-size: 5vw;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
  background-color: #cf7207;
}
/* column resize */
.col-md-1 {width: 10.33%;}
.col-md-2 {width: 16.66%;}
.col-md-3 {width: 25%;}
.col-md-4 {width: 33.33%;}
.col-md-5 {width: 41.66%;}
.col-md-6 {width: 50%;}
.col-md-7 {width: 58.33%;}
.col-md-8 {width: 66.66%;}
.col-md-9 {width: 75%;}
.col-md-10 {width: 83.33%;}
.col-md-11 {width: 91.66%;}
.col-md-12 {width: 100%;}
/* media query for text area height */
 @media (max-width: 767px) {
  body {
      width: 150% ;
  }
}
